{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <div class='row'>
      <div class='col-4'>
      <input type="text" id="message" value="test" onkeypress="testing(event)">
      </div>
      <div class='col-4'>
        2nd col  
      </div>
      <div class='col-4'>
        3rd col  
      </div>
    </div>
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

  // setting up the canvas and one paper tool
  var canvas = document.getElementById('myCanvas');
  paper.setup(canvas);
  var tool = new paper.Tool();

  // getting the URL (you may want to use for Exercise 3)
  var url = window.location.href;
  
  var our_url = 'p4-karlaortiz-karlaortiz770216.codeanyapp.com';
  var socket = new WebSocket('ws://' + our_url + ':8765/');
  
  socket.onmessage = function(receiveMessage) {
    console.log(receiveMessage.data);
  };
  
  
  socket.onopen = function() {
    var msg = "Hello Server!";
    //var msg = document.getElementById('message').value;
    socket.send(msg);
    //sentMsg();
    
    
  };
  function sentMsg() {
      var message = {
        text: document.getElementById("message").value,
        //id: clientID,
        //date: Date.now()
      };
      socket.send(JSON.stringify(message));
      //document.getElementById("message").value = "";
    };
  
  function testing(event) {
    socket.send(event.key);
  };
  
  socket.onclose = function(e) {
    console.error('Chat closed');
  };



</script>
</html>