{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

  // setting up the canvas and one paper tool
  var canvas = document.getElementById('myCanvas');
  paper.setup(canvas);
  var tool = new paper.Tool();
  var userPaths = {};
  var colorArray = ['red', 'blue', 'greeen', 'orange','gray', 'violet', 'black', 'purple', 'aqua', 'pink'];
  //var colorsUsed = [];
  var colorsUsed = {};

  // getting the URL (you may want to use for Exercise 3)
  var url = window.location.href;
  
  var our_url = 'p4-karlaortiz-karlaortiz770216.codeanyapp.com';
  var socket = new WebSocket('ws://' + our_url + ':8765/');
  
  socket.onmessage = function(receiveMessage) {
    var parsedData = JSON.parse(receiveMessage.data);
    var msgType = parsedData.type;
    var id = parsedData.id;
    var color = parsedData.color;
    if (msgType == "newPoint") {
      var newPoint = new paper.Point(parsedData.x, parsedData.y);
      if (id in userPaths === false) {
        userPaths[id] = new paper.Path();
        userPaths[id].strokeColor = color;
        colorsUsed[id] = color;
      }
      userPaths[id].lineTo(newPoint);
    } else if (msgType == "newUser") {
      
      userPaths[id] = new paper.Path();
      userPaths[id].strokeColor = color;
      colorsUsed[id] = color;
    }
  };
 
  socket.onopen = function() {
    var id = createID();
    var color = chooseColor();
    var newUser = {"id": id, "type": "newUser", "color": color};
    socket.send(JSON.stringify(newUser));
    tool.onMouseMove = function(event) {
      // send point to server 
      var point = {'x': event.point.x, 'y': event.point.y, "type": "newPoint", "id": id, "color": color};
      socket.send(JSON.stringify(point));
    }
  };
  
  socket.onclose = function(e) {
    console.error('Chat closed');
  };
  
  function createID() {
    //Referenced https://gist.github.com/gordonbrander/2230317
    return '_' + Math.random().toString(36).substr(2,9);
  }
  
  function chooseColor() {
    var index = Math.floor(Math.random() * 10);
    var color = colorArray[index];
    var userColors = $.map(colorsUsed, function(value, key) {return value});
    while (color in userColors) {  //ONLY VALID WHEN LESS THAN 10 USERS
      index = floor(Math.random() * 10);
      color = colorArray[index];
    }
    return color;
  }
  
  
  
//   $.getJSON( "data.json", function( data ) {
//         var dataFromJSONFile=data["hello"];
//         console.log(dataFromJSONFile);
//   });
  


</script>
</html>